<h1>Welcome to Tickety</h1>
<hr>

<% @ticket.each do |ticket| %>
  <p>Title: <%= ticket.title %></p>
  <p>body: <%= ticket.body %></p>
  <p>Author: <%= ticket.user_first_name %></p>
  <p><%= link_to "Edit", edit_ticket_path(ticket) %></p>
  <p><%= link_to "Delete", ticket_path(ticket), method: :delete, data: {confirm: "Are you sure?"} %></p>
  <hr>
<% end %>